.menu {
    width: 34px;
    height: 24px;
    background: url('../../../public/assets/burger-header.png')no-repeat;
    background-size: cover;
    cursor: pointer;
}

.wrapper {
    /* right: 10%; */
    /* left: 10%; */
    width: 100%;
    margin: auto;
    z-index: 1;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    align-content:baseline;
    /* position: absolute; */
}


.nav a {
    color: white;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;

}

.logo {
    font-size: 40px;
    color:black;
}

@media (max-width:767px) {
    .nav {
        display: none;
    }
    .wrapper  {
        align-items: center;
    }
    .logo {
        font-size: 34px;
    }
}