
.route {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}


.route p , .route a {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #252525;
    text-decoration: none;
}

.icon {
    margin: 0 10px;
}
