.item {
    width: 30%;
    margin: 0 15px 30px 0;    
}

.item:hover {
    transition: 0.25s ease all;
    transform: translateX(-3px) translateY(-3px);
    cursor: pointer;
}
.img img {
    /* max-width: 100%; */
    width: 100%;
    overflow: hidden;
    height: 465px;
}
.title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #252525;
    margin: 10px 0 5px 0;
}

.price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #252525;
    margin-bottom: 5px;
}

.size {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(37, 37, 37, 0.5);
    margin-bottom: 3px;
}
.descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(37, 37, 37, 0.5);
}